/* VARIABLES */
:root{
  --color-primary: #333333;
  --color-secundary: #ffffff;
  
  --title-size: 4rem;
  --text-size: 1rem;
}

/* GLOBALS */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body{
  font-family: "Reboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container{
  max-width:1200px;
  width: 75%;
  margin: 0 auto;
}

.button{
  border: none;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 2.5rem;
  background-color: #ffffff;
  color: #141414;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: .3s ease all;
  position: relative;
  overflow: hidden;
}

.button span{
  position: relative;
  z-index: 2;
  transition: .3s ease all;
}

/* NAVBAR */

.logo{
  max-width: 5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}


.navbar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.navbar-menu a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
  font-size: var(--text-size);
  position: relative;
  transition: 0.3s;
}

.navbar-menu a:hover::before{
  content: ' ';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  transition: 0.3s;
  background-color:  #737373;
}

.navbar-menu a:hover{
  color: #737373;
  transition: 0.3s;
}

/* HERO */
.hero {
  background-color: #000000;
  background-image: linear-gradient(43deg, #000000 0%, #afafaf 100%);
  color: var(--color-secundary);
  padding: 1rem 0 1rem 0;
}


.hero-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-img{
  max-width: 80%;
  margin: 1rem 3rem 1rem 0;
}


.hero-text h2 {
  font-size: 1.2rem;
  font-weight: 100;
  font-style: italic;
}

.hero-text h3 {
  font-size: 5rem;
  margin: 0 0 .7rem 0;
}

.hero-text p {
 font-size: var(--text-size);
 font-weight: 400;
 margin: .7rem 0;
}


.hero-button::after{
  content: '';
  width: 100%;
  height: 100%;
  background: #626262;
  position: absolute;
  z-index: 1;
  top: -3rem;
  left: 0;
  transition: .3s ease-in-out all;
}

.hero-button:hover::after{
  top: 0;
}

.hero-button:hover{
  color: #fffbfb;
  border: 1px solid rgb(255, 253, 253);
  transition: .3s ease-in-out all;
  font-size: 1.18rem;
}



/* cards */

.cards{
  margin: 3rem 0rem 3rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
}

.card-h3{
  color: var(--color-primary);
  font-size: 2rem;
}

.card-p{
  color: var(--color-primary);
  font-size: 1.2rem;
}

.card-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

/* productos main */

.redirect-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 20px;
}

.redirect-box {
  width: 500px;
  height: 250px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  transition: transform 0.3s ease;
  position: relative;
}

.redirect-box:hover {
  transform: scale(1.02);
}

.redirect-label {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
}


.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.hover-image {
  width: 100%; 
  height: auto; 
  transition: transform 0.6s ease; 
}

.image-container:hover .hover-image {
  transform: scale(1.03); 
}

.hover-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -50%); 
  background-color: rgba(0, 0, 0, 0.7); 
  color: #fff; 
  padding: 20px 40px;
  font-size: 28px; 
  border-radius: 10px;
  opacity: 0; 
  transition: opacity 0.7s ease, transform 0.7s ease; 
  text-decoration: none; 
}

.image-container:hover .hover-message {
  opacity: 1; 
  transform: translate(-50%, -50%); 
}

/* Estilo para la sección heroapple */
.heroapple {
  width: 100vw;
  height: 60vh;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.heroapple::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); 
  z-index: 1;
}

.heroapple-content {
  width: 100%;
  height: 100%;
}

.heroapple-img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  z-index: 0; 
}

/* Estilo para el texto sobre la imagen */
.appletext {
  position: absolute;
  top: 50%;
  left: 15%; 
  transform: translateY(-50%); 
  color: rgb(247, 239, 239); 
  text-align: left;
  z-index: 2;
}

.appletext h2 {
  font-size: 2rem; 
  margin-bottom: 0.5rem;
}

.appletext h3 {
  font-size: 1rem; 
  margin-bottom: 0;
}


.appletext h2, .appletext h3 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
/* separador debajo del titulo tu lado apple */
.separator {
  width: 50%; 
  height: 5px; 
  background-color: #806b6b; 
  margin: 0.5rem 0; 
}


/* Estilos para la barra lateral */
.sidebar {
  background-color: #f9f9f9;
  padding: 20px;
  width: 250px; 
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
  font-size: 1.5em; 
  color: #333;
  margin-bottom: 15px;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

/* estilos para link */
.category-title a {
  text-decoration: none;
  color: inherit; /* Se asegura de que herede el color del padre */
}

.category-title:hover a {
  color: #fff; /* Ejemplo de color en hover */
}


/* Estilo título categoría */

.category-title {
  font-weight: bold;
  color: #474242;
  cursor: pointer;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.category-title:hover {
  background-color: #444444; 
  color: #ffffff;
}

/* Estilos para subcategorías */
.subcategories {
  margin-left: 15px;
  margin-top: 10px;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
}

.subcategories.open {
  max-height: 500px; 
}

.subcategories.closed {
  max-height: 0;
}

/* Subcategorías */
.subcategories li {
  margin: 5px 0;
}

.subcategories li a {
  text-decoration: none;
  color: #464141; 
  padding: 5px;
  display: inline-block;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.subcategories li a:hover {
  color: #ffffff;
  background-color: #555555; 
}


.content-section {
  display: flex; 
  align-items: flex-start; 
}

/* Estilo barra lateral */
aside {
  width: 200px; 
}

/* Productos al lado de los filtros */
.product-card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  align-items: center;
  transition: transform 0.3s ease;
  width: 700px; 
  height: 200px;
  overflow: hidden; 
}

.product-card:hover {
  transform: scale(1.02); 
}

.product-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.product-image {
  max-width: 100px; 
  max-height: 100px; 
  width: auto;
  height: auto;
  margin-right: 20px; 
}

.product-details {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.product-details h4 {
  margin: 0 0 8px 0;
  font-size: 16px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.product-details p {
  margin: 4px 0;
  color: #131212;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: auto; 
}

.product-list {
  display: flex; 
  flex-direction: column; 
  padding: 20px; 
  flex: 1; 
  margin-left: 50px; 
}

/* Botón "Agregar al carrito" */
.add-to-cart-btn {
  background-color: #333333;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
}

.add-to-cart-btn:hover {
  background-color: #555555;
}

/* Ícono flotante del carrito */
.floating-cart-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 100;
}

.floating-cart-icon:hover {
  background-color: #cabebe;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
}

/* Menú del carrito */
.cart-modal {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 350px;
  max-height: 400px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0; 
  transform: translateY(20px); 
  transition: opacity 0.3s ease, transform 0.3s ease; 
}

/* Cuando se abre el menú del carrito */
.cart-modal.show {
  opacity: 1; /* Visible */
  transform: translateY(0);
}

/* Sección de productos en el carrito */
.cart-modal ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 280px;
  overflow-y: auto;
  flex-grow: 1;
}

.cart-modal ul li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  opacity: 0; 
  transform: translateY(10px); 
  transition: opacity 0.3s ease, transform 0.3s ease; 
}

/* Clase para mostrar productos */
.cart-modal ul li.show {
  opacity: 1; 
  transform: translateY(0); 
}

.cart-modal ul li img {
  width: 50px;
  height: auto;
  border-radius: 5px;
  margin-right: 10px;
}

.cart-modal ul li span {
  flex-grow: 1;
}

/* Boton "Eliminar" */
.remove-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-btn:hover {
  background-color: #d9534f;
}

/* Botones en el carrito */
.cart-modal button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px; 
}

.cart-modal button:hover {
  background-color: #0056b3;
}

/* Sección Nosotros */
#nosotros {
  position: relative;
  background-image: url('/img/products/nosotros/nosotros.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.nosotros-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.nosotros-content {
  position: relative;
  color: white;
  text-align: center;
  padding: 2rem;
  max-width: 800px;
  margin-top: 200px; 
}

.nosotros-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.nosotros-text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.btn-nosotros {
  background-color: #007bff;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.btn-nosotros:hover {
  background-color: #0056b3; 
}





/* FOOTER----- */

.footer{
  background-color: var(--color-primary);
  width: 100%;
  height: 40%;
  text-align: center;
  color: #fffbfb;
}

.footer-logo{
  max-width: 10rem;
}

/* redes */

.footer-primary{
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-evenly;
}


.footer-redes{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-redes-icon{
  display: flex;
  justify-content: center;
  gap: 1rem ;
}

.redes-p{
  font-size: 2rem;
}


.footer-redes a{
  color: #fff;
  position: relative;
  z-index: 1;
}

.footer-redes a:hover{
  color: #666666;
}

.footer-text{
  background-color: #1c1c1c;
}

.footer-text-p{
 padding: 2rem;
}

/* efecto scroll */

.scroll-reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-reveal.is-visible {
  opacity: 1;
  transform: translateY(0);
}


/*-------------------- RESPONSIVE ------------------------------------------------------------*/


/*------ TABLET */
@media only screen and (max-width: 917px) {
  .container{
    width: 95%;
  }
  
  .navbar {
    padding: .8rem 0;
  }
  
  .navbar-menu {
    gap: 1.8rem;
  }
  
  /* HERO */

  .hero-img{
    max-width: 30%;
  }


  .hero-text h2 {
    font-size: 1rem;
  }

  .hero-text h3 {
    font-size: 4rem;
  }

  .hero-text p {
    font-size: .9rem;
    font-weight: 400;
    margin: .7rem 0;
  }

}



/*------ CELULAR */
@media only screen and (max-width: 650px) {
  .container{
    width: 95%;
  }
  /* NAVBAR*/

  .navbar-menu a{
    display: none;
  }

  /* HERO */
  
  .hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hero-img{
    max-width: 40%;
    margin: 0 auto;
  }
  
  
  .hero-text h2 {
    display: none;
  }
  
  .hero-text h3 {
    text-align: center;
    font-size: 3rem;
    margin: 0 0 .7rem 0;
    padding: .8rem 0 .3rem 0;
  }
  
  .hero-p{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-text p {
    font-size: .8rem;
    font-weight: 400;
    margin: .7rem 0;
  }
  
  /* CARDS */
  .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
  }


  /* productos */

  .redirect-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
  }

  .redirect-box {
    max-width: 300px;
    max-height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.3s ease;
    position: relative;
  }
  
  .footer-primary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .footer-redes{
    margin-top: 2rem;
  }
  .footer-redes-icon{
    margin-top: 1rem;
  }
}


